{:kotoba.app/latest "k51qzi5uqu5dmii8ylbm20m45c032a3h67wac6qj4jwwe5uwd8pq8mdd9qzpua", :kotoba.app/site-cid "bafybeibepoaeguggj7crmqui2iuyf3dwcuc3tbc2iwcvbmrcjtbsw5fyay", :kotoba.app/id "cloud.itonami.app-air-mro", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dmii8ylbm20m45c032a3h67wac6qj4jwwe5uwd8pq8mdd9qzpua", :published {:own-nodes {:cid "bafybeibepoaeguggj7crmqui2iuyf3dwcuc3tbc2iwcvbmrcjtbsw5fyay", :ipns "k51qzi5uqu5dmii8ylbm20m45c032a3h67wac6qj4jwwe5uwd8pq8mdd9qzpua", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:41:24Z"}}}
